:root {
    font-family: "Averia Gruesa Libre";
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    color: #ffffff;
    background-color: #333333;
}
table, th, td {
    border: 4px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 28px;
    text-align: center;
}
p {
    font-size: 24px;
}
a:link {
    color: #00bfff;
}
a:visited {
    color: #cc66ff;
}