:root {
    font-family: "Averia Gruesa Libre";
    font-size: 20px;
    margin-left: 25%;
    margin-right: 25%;
    color: #ffffff;
    background-color: #222222;
}
table, th, td {
    border: 4px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
}
h1 {
    font-size: 36px;
    text-align: center;
}
h2 {
    font-size: 28px;
    text-align: center;
}
p {
    font-size: 20px;
}
a:link {
    color: #00d000;
}
a:visited {
    color: #00d000;
}
button {
    font-family: "Averia Gruesa Libre";
    font-size: 24px;
    color: #ffffff;
    background-color: #222222;
}

.font-larger {
    font-size: 24px;
}
.psuedoheader {
    text-align: center;
    font-size: 24px;
}
.image-thumbnail {
    vertical-align: top;
    max-width: 160px;
    float: left;
    margin: 20px 20px 20px 20px;
}
.noborders {
    border: 0px solid #000000;
    border-right: hidden;
    border-left: hidden;
    border-top: hidden;
    border-bottom: hidden;
}
.desc {
    font-size: 16px;
    text-align: left;
}