p {
    font-family: "Averia Gruesa Libre";
    font-size: 24px;
    color: #ffffff;
    font-size: 20px;
}
body {
    color: #ffffff;
    background-color: #333333;
}
table, th, td {
    border: 4px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
}
h1 {
    font-family: "Averia Gruesa Libre";
    font-size: 40px;
    color: #ffffff;
}
.font-normal {
    font-family: "Averia Gruesa Libre";
    font-size: 24px;
    color: #ffffff;
}
.font-large {
    font-family: "Averia Gruesa Libre";
    font-size: 40px;
    color: #ffffff;
}